<div [@routerTransition]>
        <h2 class="text-muted">Tasks <small> Overview</small></h2>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                       <p-card title="Building">
                         
                            <p-table [columns]="cols" [value]="buildings" [paginator]="true" [rows]="5" selectionMode="single"
                             [(selection)]="selectedBuilding" dataKey="id"  [rowsPerPageOptions]="[10,25]">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width: 2.25em"></th>
                                           <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                               {{col.header}}
                                               <p-sortIcon [field]="col.field"></p-sortIcon>
                                           </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-build let-columns="columns">
                                        <tr [pSelectableRow]="build">
                                             <td>
                                                    <p-tableRadioButton [value]="build"></p-tableRadioButton>
                                             </td>
                                             <td *ngFor="let col of columns">
                                                    {{build[col.field]}}
                                                </td>
                                        </tr>
                                    </ng-template>
                                    <!-- <p-paginator rows="10"  [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
           
                                </p-table>
                       </p-card>
            </div>
            <div class="col-xl-8 col-lg-6">
                    <p-card title="Tasks">
                            <div>Datatable of the Task</div>
                            <p-footer>
                                    <button pButton type="button" label="Save" icon="fa-check"></button>
                                    <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
                                </p-footer>
                        </p-card>
             </div>
       
    </div>